version: 2
updates:
  # gomod
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 7
    groups:
      otel:
        patterns:
          - "go.opentelemetry.io/*"
      dapr:
        patterns:
          - "github.com/dapr/*"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  # github-actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    groups:
      actions:
        patterns:
          - "actions/*"

  # docker
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7